<head>Vehicle-Loan</head>
<title>Vehicle-Loan</title>
<!-- <div>
    <img class="image" style = "max-width: 100%;" background-image: src="https://www.bankofbaroda.in/writereaddata/Portal/CMS_Template_Banner/308_1_48_1_1_car-loan-banner.jpg">
</div> -->

<div class = "container">
    <div style="margin-top: 40px; color: #453C73;">  
        <h1>About Us</h1>
    </div>
    <div class = "row" style="margin-top: 20px;">
        Buying a vehicle is one of life’s biggest dreams. 
        But it is also a huge investment that can take away a lot of life’s savings. 
        But there is a way in which you can afford a vehicle, without dipping too much into your savings – by taking a vehicle loan. 
        This way you do not have to compromise on the vehicle type, and pay for it in affordable Equated Monthly Instalments or EMIs. 
    </div>
    <div class="row">
        Millions of Indians today are upwardly mobile, and on the move. Many are looking at having their own car to reach their destination in time and in comfort. Now, the years of waiting and saving are over. A Car loan will bring that dream of owning a vehicle within your reach.
    </div>
    <div class="row">
        So, LTI Vehicle Loan is paving that way for the people all around the country. We offer easy car loans to both salaried and the self-employed. What’s more, we offer the best rates and the best service. So what are you waiting for? Whether new or pre-owned, apply for a Car Loan today!
    </div>
</div>

<footer class="footer">
    <br>
    <p>© Vehicle Loan 2022. All Rights Reserved.<br>
    <a>Project Gladiator (Larsen & Toubro Infotech Limited)</a></p><br>
</footer>