<head>Vehicle-Loan</head>
<title>Vehicle-Loan</title>
<div class = "navpanel" >
  <a routerLink='/login' class='login navbar-link'>Login</a>
  <a routerLink='/checkeligiblity' class='checkeligibility navbar-link'>Check Eligibility</a>
  <a routerLink='/emicalculator' class='navbar-link'>EMI Calculator</a>
  <a routerLink='/aboutus' class='navbar-link'>About us</a>
  <a routerLink='/home' class='home navbar-link'>Home</a>
  <a routerLink='/home' class='navbar-app-title'><img style = "height: 30px; margin:15px 30px; vertical-align: middle;" src = "assets/images/LTI_white_PNG.png">Vehicle Loan</a>
  
</div>
<router-outlet></router-outlet>